<!-- templates/devices.html -->

{% extends "base_user_page.html" %}

{% block content %}
<div>
    <h3 class="title">DEVICES</h3>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

    <table align="center">
    <tr>
        <th>Name</th><th>Ip address</th><th>Address</th><th>User List</th><th>Action button</th>
    </tr>
    {% for device in devices %}
            <tr>
                <td>{{device.name}}</td>
                <td>{{device.ip}}</td>
                <td>{{device.address}}</td>
                <td>
                {% for user in device.userList %}
                {{user}}
                    {% endfor %}
                </td>
                <td><button class="button is-block is-info is-large is-fullwidth">Delete device</button></td>
            </tr>
    {% endfor %}
    </table>

    <br>
    <form method="POST" action="/add_device">
    <button class="button is-info is-large" align="center">Add Device</button>
    </form>
</div>
{% endblock %}