<!-- templates/devices.html -->

{% extends "base_user_page.html" %}

{% block content %}
<div>
    <h3 class="title">Users</h3>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

    <form action="/add_user" method="POST" enctype="multipart/form-data">
    <dl>
      <dt>Second Name:
      <dd><input type="text" name="second_name">
        <dt>First Name:
      <dd><input type="text" name="first_name">
      <dt>Image list:
      <dd><input type="file" name="image1" accept="image/*">
      <br><br>
        <dd><input type="file" name="image2" accept="image/*">
      <br><br>
        <dd><input type="file" name="image3" accept="image/*">
      <br><br>
      <button class="button is-info is-large" align="center">Add User</button>
    </dl>
  </form>
</div>
{% endblock %}