<!-- templates/devices.html -->

{% extends "base_user_page.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">DEVICES</h3>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

    <table>
    <tr>
            <th>Name</th><th>Ip address</th><th>Address</th><th>User List</th>
        </tr>
        {% for device in devices %}
            <tr>
                <td align="right">{{device.name}}</td><td align="right">{{device.ip}}</td>
                <td align="right">{{device.address}}</td>   <td align="right">{{device.userList}}</td>
                <td><button type="submit"   class="btn btn-primary">Redirect</button></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}