<!-- templates/devices.html -->

{% extends "base_user_page.html" %}

{% block content %}
<div>
    <h3 class="title">Users</h3>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}


    <table align="center">
    <tr>
        <th>First name</th><th>Second name</th><th>Images List</th>
    </tr>

    {% for user in users %}
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.secondName}}</td>
                <td>
                    <img src="{{url_for('static', filename='lev1.jpg') }}" alt="Lev1" width="200" height="128">
                    <img src="{{url_for('static', filename='lev2.jpg') }}" alt="Lev1" width="200" height="128">
                    <img src="{{url_for('static', filename='lev3.jpg') }}" alt="Lev1" width="200" height="128">

                </td>
            </tr>
    {% endfor %}
    </table>

    <br>
    <form method="POST" action="/add_user">
    <button class="button is-info is-large" align="center">Add User</button>
    </form>
</div>
{% endblock %}